<h1>hello there!!</h1>
<a href="/register">signup</a><br>
<a href="/login">login</a><br>
<a href="/productDetail">details product</a><br>
<a href="/dashboard">Dashboard</a> <br>
<a href="/myAccount">myAccount</a> <br>