<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Account</title>
</head>
<body>
    <table>
        <tr>
          <th>name</th>
          <th>dob</th>
          <th>location</th>
          <th>phone</th>
          <th>email</th>
          <th>pin</th>
        </tr>
        <tr>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
        </tr>
        <tr>
          <td>Eve</td>
          <td>94</td>
        </tr>
      </table>
</body>
</html>