<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <titl>
        </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- stylesheets -->
        <link rel="stylesheet" href="pro-cr-form.css" type="text/css" media="all">

        <!-- google fonts  -->
        <link
            href="//fonts.googleapis.com/css?family=Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
            rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#touc").click(function () {
                    $("#tyu").hide();
                });
                $("#tou").click(function () {
                    $("#tyu").show();
                });
            });
        </script>

</head>

<body background="Early-freeze-may-await-waterlogged-crops_July_E.jpg">
    <a href="/dashboard"><b>Dashboard</b></a>
    <div class="w3ls-banner">
        <div class="heading">
            <h1>Crop Registration Form</h1>
        </div>
        <div class="container">
            <div class="heading">
                <h2>Please Enter Your Details</h2>
                <p>Fill the application form below and submit.</p>
            </div>
            <div class="agile-form">
                <form action="/postProduct" method="POST">
                    <ul class="field-list">
                        <li>
                            <label class="form-label"> Name of the Product Category: <span class="form-required"> *</span></label>
                            <div class="form-input">
                                <select name="productCategory" placeholder="Enter Your Product Name Here" required>
                                    <option>Fruits & Vegetables</option>
                                    <option>Grains, Cereals & Pulses</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <label class="form-label"> Name of the Product: <span class="form-required"> *</span></label>
                            <div class="form-input">
                                <input type="text" name="productName" placeholder="Enter Your Product Name Here" required>

                            </div>
                        </li>
                        <li>
                            <label class="form-label"> Price of your Product: <span class="form-required"> *</span></label>
                            <div class="form-input">
                                <input type="number" name="productPrice" placeholder="Enter Your Product Price Here" required>

                            </div>
                        </li>
                        <li>
                            <label class="form-label"> Instock (kgs):<span class="form-required"> * </span></label>
                            <div class="form-input">
                                <input type="number" name="productQuantity" placeholder="Enter the max quantity" required>
                            </div>
                        </li>
                        <li>
                            <label class="form-label"> Date of Production: <span class="form-required"> *</span></label>
                            <div class="form-input dob">
                                <span class="form-sub-label">
                                    <input type="date" name="productDate">
                                </span>
                            </div>
                        </li>
                        <li>
                            <label class="form-label">
                                Product Description:
                                <span class="form-required"> * </span>
                            </label>
                            <div class="form-input add">
                                <span class="form-sub-label">
                                    <textarea row="50" cols="60" name="productAbout"
                                        placeholder="Whatever you want to say about your Production" required></textarea>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="submit_btn">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>