<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
</head>
<body>
    <a href="/landing"><b>DashBoard</b></a>
    <div class=container>
        <div class="row">
            <div class="col-lg-3" style="padding-top: 80px;">
                <h4>DETAILS</h4>
                <br>
                <h6>Sidhartha Mallick
                    <br>
                    bhadrak
                    <br>
                    pin:<a href="#">746415</a>
                </h6>
                <p>contact:<a href="#">9876543210</a></p>

            </div>
            <div class="col-lg-9" style="padding: 20px;">
                <div class="thumbnail">
                    <img class="img-responsive" alt="pic" src="./imgs/field.jpeg" style="width: 820px;">	
                    <div class="caption">
                        <h4 style="text-align: end;">Rs.49/kg</h4>
                        <h4><a>product</a></h4>
                        <p><strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum rem possimus atque aspernatur molestias veritatis commodi mollitia, adipisci, doloribus temporibus fugit dolore culpa et illo repellat corporis quibusdam totam! Modi, est! Eaque molestias impedit quis voluptatibus doloremque similique aliquam perspiciatis.</strong></p>
                        <p><em>Created By <strong>john</strong> a day ago</em></p>
                            <!-- <a class="btn btn-warning" href="#">Edit</a>
                        <form style="display: inline" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form> -->
                    </div>
                </div>
                <div class="well">
                   <div class="text-left">
                      <p>
                        <a class="btn btn-success" href="#">Reviews</a>
                      </p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12"><em><strong>john panda</strong> 
                            <span class="pull-right">5 hours ago</span></em>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur id magni dolorum veniam recusandae temporibus.</p>
                        </div>
                        </div>	        
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
