body{
    font-size: 16px;
}
.thumbnail {
    /* border: 2px solid rgba(0, 0, 0, 0.815); */
    margin-top: 5%;
    margin-bottom: 0;
    border-radius: 8px;
    padding: 10px;
    margin-left: 10%;
    background-color: rgb(245, 229, 229);
    /* display:flex; */
    /* flex-wrap: wrap; */
}
.well{
    /* border: 2px solid rgba(0, 0, 0, 0.815); */
    border-radius: 8px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: 10%;
    background-color: rgb(245, 229, 229);
}
.userdetail{
    text-align: center;
    margin-top:100%;
    border: 2px solid rgba(0, 0, 0, 0.815);
    border-radius: 8px;
    background-color: rgb(245, 229, 229);
}
.container{
    margin-left: 5%;
}

